@{
    ViewBag.Title = "Acknowledgement";
}

<h2>Thank You!</h2>

<p>@TempData["Acknowledgement"]</p>
<p>Your Service_Reference_Id is @TempData["ServiceId"]</p>
<p>Our staff will get in touch with you soon! </p>
